html {
    background: url(../img/site/background-tile.png);
    clear:both;
}

body {
    width: 100%;
    background: url(../img/site/background.jpg) repeat-x;
}

#header-wrapper {
    max-width: 1080px;
    height: 235px;
    margin: 0 auto;
}

#top-nav {
    height: 35px;
    width: 100%;
    background: #000;
    color: #d6d6d6;
    font-size: 12px;
}
#top-nav li{
    display: inline;
}

#header {
 width: 980px;
}
#logo{
    width: 320px;
    text-indent: -9999px;
}
#logo p, #logo h1 {
    margin: 0;
    padding:0;
}
#logo img {
    margin-top: -46px;
}

#social {
    width: 610px;
    height: 95px;
}
#social li {
    display: inline;
}
#social img {
    
    float: left;
    margin-right: 10px;
}

#nav {
    width: 580px;
    height: 40px;
    border: none;
    margin: 0 0 0 0;
    background: url(../img/site/btn-grd.png);
    border: 15px solid #ffffff;
    /*border-radius: 10px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#nav ul {
    border-radius: 10px;
}
#nav ul li {
    background: none;
    border: 1px solid #4d4d4d;
    height: 38px;
}

#nav ul li a {
    background: none;
    color: #333;
    border: none;
}

#main {
    margin-top: -50px;
    width: 950px;
    background-color:#ffffff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#sidebar {
    width: 165px;
    margin: 0 15px 0 0;
    border-width:15px;
    -moz-border-image: url(../img/site/sidebar-border.png) 15 round;
    -webkit-border-image: url(../img/site/sidebar-border.png) 15 round;
    -o-border-image: url(../img/site/sidebar-border.png) 15 round;
    border-image: url(../img/site/sidebar-border.png) 15 fill round;
    border-radius: 10px;
}

#content {
    width: 720px;
    margin: 0;
    padding: 10px;
    background-color: #e5dbd1;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 15px 1px #333333;
    -moz-box-shadow: inset 0px 0px 15px 1px #333333;
    box-shadow: inset 0px 0px 15px 1px #333333;
}

#footer {
    
    width:980px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    border-bottom-width: 40px;
    -moz-border-image: url(../img/site/footer.png) 0 0 30 0 stretch; /* Old Firefox */
    -webkit-border-image: url(../img/site/footer.png) 0 0 30 0 stretch; /* Safari */
    -o-border-image: url(../img/site/footer.png) 0 0 10 0 stretch; /* Opera */
    border-image: url(../img/site/footer.png) 0 0 30 0 stretch;
}

#footer .container_16 {
    background-color: #e5dbd1;
    width: inherit;
}


.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}