html {
    background-color: #000033;
    clear:both;
}

body {
    width: 100%;
    margin: 0 auto;
}

#header-wrapper {
    height: 235px;
}

#top-nav {
    height: 35px;
    width: 100%;
    background: #000;
    color: #d6d6d6;
    font-size: 12px;
}
#top-nav li{
    display: inline;
}

#header {

}
#logo{
    width: 320px;
    text-indent: -9999px;
}
#logo p, #logo h1 {
    margin: 0;
    padding:0;
}
#logo img {
    margin-top: -46px;
}

#social {
    width: 610px;
    height: 95px;
}
#social li {
    display: inline;
}
#social img {
    background-color: #FF0000;
    float: left;
    margin-right: 15px;
}

#nav {
    width: 580px;
    height: 40px;
    border: none;
    margin: 0 -10px 0 0;
    background: url(../img/site/btn-grd.png);
    border: 15px solid #ffffff;
    border-radius: 10px;
}
#nav ul {
    border-radius: 10px;
}
#nav ul li {
    background: none;
    border: 1px solid #4d4d4d;
    height: 38px;
}

#nav ul li a {
    background: none;
    color: #333;
    border: none;
}

#main {
    margin-top: -60px;
    width: 950px;
    background-color:#ffffff;
    border: 15px solid #ffffff;
    border-radius: 10px;
}

#sidebar {
    width: 190px;
    margin: 0 15px 0 0;
    background-color: #ccc;
    height: 100%;
    border-radius: 5px;
}

#content {
    width: 745px;
    margin: 0;
    background-color: #ccc;
    border-radius: 5px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}